<div id="header">
  <a href="" class="logo">
    <img src="../../../assets/logo.jpg" alt="">
  </a>
  <form class="mb-0 hidden lg:flex" #frm1 = "ngForm" (ngSubmit)="onSearch()">
    <div class="relative">
      <input
        class="h-10 rounded-lg border-gray-200 pe-10 text-sm placeholder-gray-300 focus:z-10"
        placeholder="Search..."
        type="text"
        name="search"
        [(ngModel)]="key" 
      />

      <button
        type="submit"
        class="absolute inset-y-0 end-0 rounded-r-lg p-2 text-gray-600"
      >
        <span class="sr-only">Submit Search</span>
        <svg
          class="h-5 w-5"
          fill="currentColor"
          viewbox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            fill-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </form>
  <div id="menu">
    <div class="item">
      <a href="/">Trang chủ</a>
    </div>
    <div class="item">
      <a href="/category">Sản phẩm</a>
    </div>
    <div class="item">
      <a href="/news">News</a>
    </div>
    <div class="item">
      <a href="/contact">Liên hệ</a>
    </div>
  </div>
  <div id="actions" style="display: flex;grid-gap:20px">
    <button *ngIf="getLocalstorage()==null" type="button" class="btn btn-outline-primary"><a routerLink="/account">Login</a></button>
    <div *ngIf="getLocalstorage()!== null" class="info__user">
      <div class="name__user">
        {{getLocalstorage().user.email}}
      </div>
      <ul class="logout">
        <li (click)="logout()">Đăng xuất</li>
      </ul>
      


    </div>
    <div class="item">
      <img src="../../../assets/iconuser.jpg" alt="">
    </div>
    <div class="item">
      <a href="cart"><img src="../../../assets/icongiohang.jpg" alt=""></a>
    </div>
  </div>
</div>